@model IEnumerable<MVC_EntityFramework.Models.Cliente>

@{
    ViewData["Title"] = "Clienti";
}
@section Scripts {
    <!--Include il js per usare jsGrid-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/js/clienti_jsGrid.js"></script> <!--file nella cartella js del progetto -->
}
@section Style{
    <!--per usare jsGrid nel progetto-->
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
}

<h1>Clienti</h1>


<div id="jsGrid"></div> <!--placeholder per la costruzione della griglia-->
